
/* Global */
:root {
    /* Color */
  --color-red: #d14e1d;
  --color-black: #153c56;
  --color-yellow:#e3a32c;
  --color-beige: #f3ebd3;
  --color-grey: #849290;
  --color-green: #419d9a;
  --color-pale-yellow: #ebcc80;
  --color-pale-red: #e49f79;
  --color-pale-grey: #bac3b1;

    /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

    /* Font weight */
  --weight-bold: 700;  
  --weight-semi-bold: 600;
  --weight-regular: 400;

    /* size */
  --size-border-radius: 4px;

    /* Animation */
    --animation-duration: 300ms;  
}


/* Universial tags */
* {
    box-sizing: border-box;
    /* 
    border: 1 solid black; */
}

body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

ul {
    list-style: none;
    padding-left: 0;
}


/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0px;  
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0px;  
}

h4 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 5px 0px;  
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0px;     
}

button {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--color-black);
    outline: none;
    border-radius: var(--size-border-radius);
}


/* Navbar */

#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-red);
    align-items: center;
    color: var(--color-beige);
    padding: 16px;
    z-index: 1;
}



.navbar__logo {
    font-size: medium;
    font-weight: var(--weight-semi-bold);
}



.search-button {
    border: 1px solid var(--color-black);
    color: var(--color-black);
    padding: 4px 12px;
    margin: 0 4px;
}

.search-button:hover {
    background-color: var(--color-pale-red);
    border-radius: var(--size-border-radius);
}

#home {
    background: url(imgs/home-background.png);
}


/* Sidebar */
#side {
    display: flex;
    /* justify-content: baseline; */
    background-color: var(--color-red);
    /* align-items: center; */
    color: var(--color-beige);
    padding: 16px;
}
.side__top-menu {
    display: flex;
    flex-direction: column;
}

.side__top-menu-item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
    margin: 8px;
    
}

.side__top-menu-item.active {
    border: 1px solid var(--color-beige);
}

.side__top-menu-item:hover {
    background-color: var(--color-green);
    border-radius: var(--size-border-radius);
}

.second-menu {
    display: none;
}

.second-menu.open {
    display: block;
}


/* Section Common */
.section__container {
    max-width: 1200px;
    margin:auto;
}

.container {
    padding-top: 55px;
    display: flex;
    justify-content: left;
    margin: auto;
}

#main {
    flex-basis: 55%;
    background-color: var(--color-beige);
}

#side {
    flex-basis: 15%;
    background-color: var(--color-yellow);
}

#cart {
    flex-basis: 30%;
}


/* main */

.main__top-level {
    display: flex;
    flex-wrap: wrap; 
    justify-content:left;
    margin: 12px;
}

.product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    margin: 6px;
    background-color: white;
    
}

.product.invisible {
    display: none;
}

.product__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
    margin: 6px;
    background-color: white;
    
}


.product__img {
    max-width: 50%;
    max-height: 50%;
}

/* .product_text{
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
} */

.product__name {
    max-width: 100%;
    max-height: 35%;
    display: block;
    text-align: center;
    padding: 8px;
    width: 250px;
}

.product__description {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.product__description p {
    color: var(--color-beige);
    text-align: center;
}
.product__description button {
    text-align: center;
    background-color: var(--color-beige);
    padding: 4px;
    margin: 8px auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.product:hover .product__description{
    opacity: 0.8;
}

.product__menu {
    text-align: center;
}

.product__menu h5{
    font-size: small;
    margin: 0px;
}
.product__menu p{
    font-size: small;
}

.add-item {
    border: var(--color-black);
    border-radius: var(--size-border-radius);
    border: 1px solid var(--color-black);
    font-size: small;
    padding: 2px;
    color: var(--color-black);
}

.add-item:hover {
    border: var(--color-black);
    background-color: #153c56;
}


#cart {
    position: fixed;
    width: 100%;
    display: flex;
    
    justify-content: space-between;
    background-color: var(--color-red);
    align-items: center;
    color: var(--color-red);
    padding: 16px;
    bottom: 0%;
}

.cart__table {
    display: flex;
    align-content: right;
    flex-direction: column;
    color: var(--color-beige);
}

/* .cart-table {
    border: 1px solid red;
    align-content: right;
} */

.checkout-btn {

    border-radius: var(--size-border-radius);
    border: 1px solid var(--color-beige);
    font-size: small;
    width: 100%;
    color: var(--color-red);
    background-color: var(--color-beige);
    padding: 12px 2px;
    display: flex;
    align-content: center;
    padding: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.delete-btn {
    width: 100%;
    align-items: baseline;
    margin: auto;
    font: 400;
    color: var(--color-red);
    background-color: var(--color-beige);
    border: 1px solid var(--color-beige);
}

.table, th, td {
    border: 1px solid var(--color-beige);
    border-collapse: collapse;
    color: var(--color-beige);
}

.empty-cart {
    color: var(--color-beige);
}


/* main item card */
.item-form {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-content: center;
    margin: auto;
}